---
  extends: eslint:recommended
  env:
    node: true
    es6: true
  rules:
    comma-dangle: 2
    indent:
      - 2
      - tab
    keyword-spacing: 2
    no-console: 0
    semi:
      - 2
      - never
